<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ePlanifPlanningMailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ePlanifPlanningMailer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ePlanifPlanningMailer.Properties.Settings>
            <setting name="ePlanifPlanningMailer_ReportingServices_ReportingService2010"
                serializeAs="String">
                <value>http://localhost:80/ReportServer/ReportService2010.asmx</value>
            </setting>
            <setting name="ePlanifPlanningMailer_ReportingExecutionServices_ReportExecutionService"
                serializeAs="String">
                <value>http://localhost:80/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtp.ipc.com</value>
            </setting>
            <setting name="SMTPUser" serializeAs="String">
                <value>ePlanif@IPC.com</value>
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPSender" serializeAs="String">
                <value>ePlanif@IPC.com</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SMTPSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendMail" serializeAs="String">
                <value>False</value>
            </setting>
        </ePlanifPlanningMailer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ePlanifPlanningMailer.Properties.Settings>
            <setting name="ReportName" serializeAs="String">
                <value>/ePlanif_Mailing/weekly_planning</value>
            </setting>
        </ePlanifPlanningMailer.Properties.Settings>
    </userSettings>
</configuration>